@using ProjectManagementApp.Data;
@using System.Security.Claims;
@inject ProjectsService ProjectsService

<div>
    @if (userProjects == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <p class="fs-5">Projects found: <strong>@userProjects.Count</strong></p>
        <div class="d-flex gap-1 flex-row">
            <a class="btn btn-success" href="/new">New project</a>
        </div>
        @if (userProjects.Count > 0)
        {
            <table class="table project-table">
                <thead>
                    <tr>
                        <th style="max-width: 140px"></th>
                        <th>Title</th>
                        <th>Created On</th>
                        <th>Date Due</th>
                        <th>Task Count</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in userProjects)
                    {
                        <tr class="project-row">
                            <td style="max-width: 140px"><ProgressBox Project="@project" ShowText="false" /></td>
                            <td><div><a href="/view/project/@project.Id">@project.Title</a></div></td>
                            <td><div><span>@project.CreatedOn</span></div></td>
                            <td><div><span>@project.DateDueFormatted</span></div></td>
                            <td><div class="justify-content-center"><span>@project.TasksCompleted / @project.TaskCount</span></div></td>
                            <td><div><a class="btn btn-primary" href="/update/@project.Id">Update</a></div></td>
                            <td><div><a class="btn btn-danger" href="/delete/@project.Id">Delete</a></div></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationStateTask { get; set; }
    private List<Projects>? userProjects;

    protected override async Task OnInitializedAsync()
    {
        if (authenticationStateTask != null)
        {
            var user = (await authenticationStateTask).User;
            if (user.Identity != null)
            {
                userProjects = await ProjectsService.GetProjects(user.FindFirstValue(ClaimTypes.NameIdentifier));
            }
        }
    }
}
